<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClientesServlet</servlet-name>
        <servlet-class>com.concesionario.servlet.ClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculosServlet</servlet-name>
        <servlet-class>com.concesionario.servlet.VehiculosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarImg</servlet-name>
        <servlet-class>com.concesionario.servlet.GuardarImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasServlet</servlet-name>
        <servlet-class>com.concesionario.servlet.VentasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientesServlet</servlet-name>
        <url-pattern>/ClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculosServlet</servlet-name>
        <url-pattern>/VehiculosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarImg</servlet-name>
        <url-pattern>/GuardarImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasServlet</servlet-name>
        <url-pattern>/VentasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
